html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #E5E5E5;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #979797;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #262626;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.margem {
  width: 935px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar {
  width: 100%;
  height: 54px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DBDBDB;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.bottom-bar {
  display: none;
}

.logo-area {
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-instagram {
  margin-top: 7px;
  cursor: pointer;
}

.icon-instagram {
  width: 19.25px;
  height: 19.25px;
  top: 1.38px;
  left: 1.38px;
  cursor: pointer;
}

.bar {
  width: 1px;
  height: 22px;
  left: 247px;
  top: 15px;
  background-color: #DBDBDB;
}

.search-bar {
  height: 28px;
  width: 215px;
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.right-icons {
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-icons ion-icon {
  width: 17.87px;
  height: 17.87px;
  cursor: pointer;
}

.conteudo {
  width: 100%;
  height: 100vh;
  margin-top: 88px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.corpo {
  width: 935px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.side-bar {
  position: fixed;
  width: 293px;
  height: 500px;
  background-color: #E5E5E5;
  left: calc(50% + 174px);
}

.storie-box {
  width: 614px;
  height: 118px;
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 24px;
  display: flex;
  overflow: hidden;
}

.primeiro-storie .storie-background{
  width: 66px;
  height: 66px;
  margin-top: 18px;
  margin-left: 18px;
}

.primeiro-storie .storie-icon {
  position: absolute;
  margin-top: 23px;
  margin-left: 23px;
  cursor: pointer;
}

.storie .storie-background {
  width: 66px;
  height: 66px;
  margin-top: 18px;
  margin-left: 14px;
}

.storie .storie-icon {
  position: absolute;
  margin-top: 23px;
  margin-left: 19px;
  cursor: pointer;
}

.storie-perfil {
  width: 58px;
  height: 19px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.primeiro-storie .storie-perfil {
  margin-left: 21px;
}

.storie .storie-perfil {
  margin-left: 17px;
}

.seta {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: 46px;
  margin-left: 579px;
  color: #FFFFFF;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  cursor: pointer;
}

.postagem {
  width: 614px;
  height: 749px;
  background-color: #FFFFFF;
  margin-bottom: 60px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  position: relative;
}

.postagem-imagem {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 612px;
  margin-top: 0px;
}

.postagem video {
  width: 100%;
  height: auto;
  margin-top: 0px;
  background-color: black;
}

.postagem video h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.cabecalho {
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  display: flex;
  position: relative;
}

.perfil-postagem {
  display: flex;
  width: 156px;
  align-items: center;
}

.perfil-postagem img{
  width: 32px;
  height: 32px;
  margin-right: 15px;
  margin-left: 17px;
  cursor: pointer;
}

.perfil-postagem h2 {
  cursor: pointer;
}

.tres-pontos {
  position: absolute;
  margin-top: 23px;
  right: 0px;
  margin-right: 18.5px;
  cursor: pointer;
}

.roda-pe {
  position: absolute;
  width: 100%;
  height: 76px;
  bottom: 0;
}

.roda-pe-icons ion-icon {
  width: 22px;
  height: 22px;
  margin-right: 18px;
  cursor: pointer;
}

.roda-pe-icons {
  margin-left: 15px;
  margin-top: 8px;
  width: 578px;
  display: flex;
  position: relative;
}

.roda-pe-icons div {
  position: absolute;
  right: 0;
}

.roda-pe-icons div ion-icon {
  margin-right: 0px;
  cursor: pointer;
}

.curtidas {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.curtidas div {
  display: flex;
  align-items: center;
  margin-left: 17px;
}

.curtidas div span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.curtidas img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.last-storie {
  width: 66px;
  height: 66px;
  margin-top: 18px;
  margin-left: 14px;
  background-image: url("../media/stories_background.png");
}

.last-storie .storie-icon-last {
  position: static;
  margin-top: 5px;
  margin-left: 4px;
  cursor: pointer;
}

.perfil {
  display: flex;
  margin-top: 23px;
  left: 0;
  cursor: pointer;
}

.nome-perfil {
  margin-left: 17px;
  margin-top: 11px;
  cursor: pointer;
}

.sugestoes-para-voce {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.texto-inicio {
  margin-top: 24px;
  display: flex;
}

.texto-inicio h3{
  margin-right: 115px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #8E8E8E;
}

.texto-inicio h4 {
  position: absolute;
  right: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #262626;
  cursor: pointer;
}

.sugestao {
  display: flex;
  margin-top: 16px;
}

.sugestao img {
  cursor: pointer;
}

.sugestao h2,
.sugestao h3 {
  margin-left: 11px;
}

.sugestao h2 {
  cursor: pointer;
}

.sugestao h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #8E8E8E;
}

.botao-seguir {
  position: absolute;
  right: 6px;
  top: 145px;
}

.botao-seguir h2 {
  margin-bottom: 33.3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #139EF2;
  cursor: pointer;
}

.texto-fim {
  margin-top: 33px;
}

.texto-fim .c2022 {
  margin-top: 18px;
}

.texto-fim h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: left;
  color: #C7C7C7;
  cursor: pointer;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*==================== Desktop Sem Sidebar ====================*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

@media (max-width: 935px) {
  .side-bar {
    display: none;
  }

  .corpo {
    justify-content: space-around;
  }

  .right-icons {
    margin-right: 22px;
  }

  .logo-area {
    margin-left: 22px;
  }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*======================= Layout Mobile =======================*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

@media (max-width: 614px) {
  .postagens {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  
  .storie-box {
    background-color: #E5E5E5;
    border: 0px solid #DBDBDB;
    box-sizing: border-box;
    margin-bottom: 4px;
    margin-top: 17px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
  }

  .primeiro-storie .storie-background {
    margin-left: 15px;
  }

  .primeiro-storie .storie-icon {
    margin-left: 20px;
  }

  .primeiro-storie .storie-perfil {
    margin-left: 18px;
  }

  .postagem {
    width: 100%;
    
    position: relative;
    left: 0px;
    top: 0px;
  }

  .postagem-imagem {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }

  .postagem video {
    width: 100%;
    height: 600px;
  }

  .perfil-postagem img{
    width: 32px;
    height: 32px;
    margin-right: 15px;
    margin-left: 17px;
  }

  .curtidas img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }

  .seta,
  .bar,
  .logo-instagram,
  .right-icons :nth-child(2),
  .right-icons :nth-child(3),
  .right-icons :nth-child(4) {
    display: none;
  }

  .right-icons {
    width: 17.86px;
  }

  .logo-area {
    width: 19.25px;
  }

  .conteudo {
    margin-top: 36px;
  }

  .search-bar {
    margin-top: 5px;
    height: 29px;
    width: 103px;
    background-color: #FFFFFF;
    border: 0px solid #DBDBDB;
    border-radius: 0px;
    background-image: url(../media/logo.png);
    cursor: pointer;
  }

  .search-bar p {
    display: none;
  }
  
  .bottom-bar {
    display: flex;
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  .bottom-bar div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0px 22px;
  }

  .bottom-bar div ion-icon {
    cursor: pointer;
  }

  .corpo {
    width: 100%;
  }

  .curtidas {
    width: 100%;
  }

  .roda-pe-icons {
    width: 100%;
    left: 0;
  }

  .roda-pe-icons div ion-icon{
    margin-right: calc(25px - 100%);
  }

  .perfil-postagem {
    width: calc(156px - 100%);
  }
}